@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

:root {
  /* Primary Colors */

  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* Neutral Colors */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  --fw-sm: 300;
  --fw-md: 400;
  --fw-lg: 700;
}

img {
  display: block;
  max-width: 100%;
}

body {
  max-width: 1440px;
  min-height: 2262px;
  margin: 0 auto;
}

/* Chalye Shuru karta hai : hahahahahahaha */

.header {
  background-color: var(--Very-Light-Gray);
}

.header-section-container {
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: var(--White);
}

.logo {
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 0.7rem 1.4rem;
  border-radius: 5rem;
  border: none;
  background-image: linear-gradient(92deg, #31d35c 1% 1%, #2bb7da 100%);
  color: white;
  cursor: pointer;
}

.nav-btn {
}

.hero-section {
  padding: 0 5rem;
  display: flex;
}

.hero-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 40%;
}

.heading-primary {
  font-size: 3rem;
  font-weight: var(--fw-md);
}

.hero-content {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 90%;
  color: var(--Grayish-Blue);
}

.hero-btn {
  max-width: 30%;
}

.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg-intro-desktop.svg");
}

.hero-img {
  max-width: 70%;
  margin-left: 5rem;
}

/* Main section  styling here. */

.main {
  /* padding: 5rem; */
  /* display: flex;
  flex-direction: column;
  gap: 5rem; */
}

.feature-section {
}

.feature-section-container {
  background-color: var(--Light-Grayish-Blue);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.main-content-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: var(--fw-md);
}

.main-content {
  max-width: 50%;
  line-height: 1.7;
}

.feature-box {
  display: flex;
  gap: 2rem;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-img {
  max-width: 25%;
}

.feature-title {
}

.feature-content {
  line-height: 1.5;
}

/* Article section styling */

.article-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--Very-Light-Gray);
  padding: 5rem;
}

.article-section-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.article-img {
}

.article-content-box {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-author {
  color: var(--Grayish-Blue);
}

.article-title {
}

.article-content {
  color: var(--Grayish-Blue);
}

/* footer section styling */

.footer {
  background-color: var(--Dark-Blue);
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

.footer-logo {
  background-color: white;
  padding: 0.5rem;
}

.social-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-icon-box {
  display: flex;

  justify-content: space-between;
}

.social-icon {
}

.site-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.website-link {
  color: white;
  text-decoration: none;
}

.copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

.footer-btn {
  max-width: 50%;
}

.copyright-text {
}

/* Mobile Navigation */

.mobile-nav {
  display: none;
}

/* Tablet Screen */

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }

  .nav-links {
    display: none;
  }
}

/* Mobile screen */

@media (max-width: 500px) {
  html {
    font-size: 18px;
  }

  .navigation {
    padding: 1.5rem;
  }

  .nav-links {
    display: none;
  }

  .nav-btn {
    max-width: 100%;
    font-size: 0.7rem;
  }

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
    padding: 0 1.5rem 3rem 1.5rem;
    position: relative;
  }

  .hero-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }

  .hero-img-box {
    background-image: url("images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
  }

  .hero-btn {
    max-width: 100%;
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

  .main-content {
    max-width: 100%;
    text-align: center;
  }

  .feature-section-container {
    padding: 5rem 2rem;
  }

  .feature-box {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-content {
    text-align: center;
  }

  .heading-secondary {
    text-align: center;
  }

  .article-section {
    padding: 5rem 2rem;
  }

  .article-section-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .article-content-box {
    padding: 2rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 2rem;
  }

  .social-icon-container {
    gap: 1rem;
  }

  .site-links {
    align-items: center;
  }

  .copyright-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .footer-btn {
    max-width: 100%;
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

  /* mobile navigation active */

  /* .mobile-nav {
    display: none;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
  } */

  .mobile-nav .link {
    font-size: 1.5rem;
  }

  .mobile-nav .link:hover {
    color: darkcyan;
    font-weight: var(--fw-md);
  }
}
